<app-breadcrumb [rutas]="rutas"></app-breadcrumb>
<p-card>
    <full-calendar #calendar deepChangeDetection="true" [options]="calendarOptions"></full-calendar>
</p-card>


<p-dialog [(visible)]="FestivoDialog" [style]="{width: '400px',height:'160px'}" [header]="fechaSeleccionada"
              [modal]="true" styleClass="p-fluid">

        <form  (ngSubmit)="enviar()">
                <div class="formgrid grid">
                    <div class="col-12 md:col-6 mt-3">
                        <button pButton pRipple label="Guardar" type="submit" icon="pi pi-check" class="p-button-outlined p-button-secondary"></button>
                    </div>

                    <div class="col-12 md:col-6 mt-3 ">
                        <button pButton pRipple label="Cancelar" (click)="cambiar()" type="button" icon="pi pi-times" class="p-button-outlined p-button-secondary"></button>
                    </div>
                </div>
        </form>
    </p-dialog>
