<app-breadcrumb [rutas]="rutas"></app-breadcrumb>
<p-card>
    <full-calendar #calendar [options]="calendarOptions"></full-calendar>
</p-card>

<!-- <p-dialog [(visible)]="usuarioDialog" [style]="{width: '800px',height:'1400px'}" header="Crear/Edita Usuario"
              [modal]="true" styleClass="p-fluid">

        <form [formGroup]="Form" (ngSubmit)="enviar()">

            <div class="card">
                <div class="formgrid grid">


                    <div class="col-12 md:col-2 mt-3">
                        <button pButton pRipple label="Guardar" type="submit" icon="pi pi-check" class="p-button-outlined p-button-secondary"></button>
                    </div>

                    <div class="col-12 md:col-2 mt-3 ">
                        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-outlined p-button-secondary"></button>
                    </div>


                </div>

            </div>
        </form>
    </p-dialog> -->
