<p-card>
    Informe de Metas
    <hr>
    Desde
    <p-calendar [(ngModel)]="fechaIncial"></p-calendar>
    &nbsp;
    Hasta
    <p-calendar [(ngModel)]="fechaFinal"></p-calendar>
</p-card>
&nbsp;
<p-card>
    <h4>Información</h4>
    <hr>
    <p-chart type="bar" [data]="multiAxisData" [options]="horizontalOptions"></p-chart>
</p-card>

&nbsp;
<!-- <p-card>
    <p-table #dt1 [value]="ventas" dataKey="pddnumero" [rows]="10" selectionMode="single" [(selection)]="ventaSeleccionada" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="col">
                <div class="justify-content-between  lg:flex-row">

                <span class="p-input-icon-left mb-2">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search Keyword" class="w-full"/>
                </span>

                &nbsp;

                <p-dropdown [options]="vendedores" [(ngModel)]="vendedorSeleccionado" optionLabel="vencodigo"></p-dropdown>

            </div>
            <div class="justify-content-between  lg:flex-row">
                <button pButton label="Buscar" class="p-button-outlined mb-2" icon="pi pi-search" (click)="boton()"></button>

            </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Codigo Vendedor
                        <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Nombre Vendedor
                        <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Dias habiles
                        <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Meta General
                        <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        ventas
                        <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Diferencia
                        <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        Porcentaje
                        <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"></p-columnFilter>
                    </div>
                </th>
                <th>
                    <div class="flex justify-content-between align-items-center">
                        No. Facturas
                        <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"></p-columnFilter>
                    </div>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-venta>
            <tr>
                <td style="min-width: 12rem;">
                    a
                </td>
                <td style="min-width: 12rem;">
                    a
                </td>
                <td style="min-width: 12rem;">
                    a
                </td>
                <td style="min-width: 12rem;">
                    a
                </td>
                <td style="min-width: 12rem;">
                    a
                </td>
                <td style="min-width: 12rem;">
                    a
                </td>
                <td style="min-width: 12rem;">
                    a
                </td>
                <td style="min-width: 12rem;">
                    a
                </td>
                <td style="min-width: 12rem;">
                    a
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="15">No hay registro de ventas para las fechas seleccionadas.</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td colspan="15">Loading ventas data. Please wait.</td>
            </tr>
        </ng-template>
    </p-table>
</p-card> -->
