<app-breadcrumb [rutas]="rutas"></app-breadcrumb>

<p-card>
    Busqueda
    <hr>
    Desde
    <p-calendar [(ngModel)]="fechaIncial"></p-calendar>
    &nbsp;
    Hasta
    <p-calendar [(ngModel)]="fechaFinal"></p-calendar>
</p-card>

&nbsp;

<p-tabView (onChange)="cambio()" [activeIndex]="porProducto">
    <p-tabPanel header="Por Producto">
       <app-pie-chart [selector]="porProducto" [fechaIncial]="fechaIncial" [fechaFinal]="fechaFinal"></app-pie-chart>

    </p-tabPanel>
    <p-tabPanel header="Por Vendedor">
         <app-pie-chart [selector]="porVendedor"  [fechaIncial]="fechaIncial" [fechaFinal]="fechaFinal"></app-pie-chart>
    </p-tabPanel>
</p-tabView>
