
<div class="col-12">
<app-breadcrumb [rutas]="rutas"></app-breadcrumb>



<div class="card card-w-title">
    <h5>Busqueda</h5>
    <hr>
    <div class="row" >
            Vendedor
            <p-dropdown [options]="vendedores" [(ngModel)]="vendedorSeleccionado" optionLabel="vencodigo"></p-dropdown>
        &nbsp;
            Desde
            <p-calendar [(ngModel)]="fechaIncial"></p-calendar>
        &nbsp;
            Hasta
            <p-calendar [(ngModel)]="fechaFinal"></p-calendar>
        &nbsp;
            Limitar Busqueda:
            <p-checkbox [(ngModel)]="limitarBusqueda" [binary]="true"></p-checkbox>
        &nbsp;
            <button pButton label="Buscar" class="p-button-outlined mb-2" icon="pi pi-search" (click)="buscar()"></button>
        &nbsp;
            <button pButton label="Exportar" class="p-button-outlined mb-2" icon="pi pi-file-pdf" (click)="boton()"></button>
    </div>
</div><!--card-->

<p-table #dt18 [value]="ventas" dataKey="pddnumero" [rows]="10" selectionMode="single" [(selection)]="ventaSeleccionada" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll">
    <ng-template pTemplate="caption">
        <div class="col">
            <div class="justify-content-between  lg:flex-row">

            <span class="p-input-icon-left mb-2">
                <i class="pi pi-search"></i>
                <input pInputText type="text" #filter (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search Keyword" class="w-full"/>
            </span>

            &nbsp;

            <p-dropdown [options]="vendedores" [(ngModel)]="vendedorSeleccionado" optionLabel="vencodigo"></p-dropdown>

        </div>
        <div class="justify-content-between  lg:flex-row">
            <button pButton label="Buscar" class="p-button-outlined mb-2" icon="pi pi-search" (click)="boton()"></button>
            &nbsp;
            <button pButton label="Detalles" class="p-button-outlined mb-2" icon="pi pi-file-pdf" (click)="boton()"></button>
            &nbsp;
            <button pButton label="Seleccionar Todo" class="p-button-outlined mb-2" icon="pi pi-file-pdf" (click)="boton()"></button>
            &nbsp;
            <button pButton label="GPS" class="p-button-outlined mb-2" icon="pi pi-file-pdf" (click)="boton()"></button>
            &nbsp;
            <button pButton label="Direccion GPS" class="p-button-outlined mb-2" icon="pi pi-file-pdf" (click)="boton()"></button>
        </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>
                <div class="flex justify-content-between align-items-center">
                    TIPO DOC
                    <p-columnFilter type="text" field="name" display="menu" placeholder="Search by name"></p-columnFilter>
                </div>
            </th>
            <th>
                <div class="flex justify-content-between align-items-center">
                    NUM DOC
                    <p-columnFilter type="text" field="country.name" display="menu" placeholder="Search by country"></p-columnFilter>
                </div>
            </th>
            <th>
                <div class="flex justify-content-between align-items-center">
                    VENDEDOR
                    <p-columnFilter field="representative" matchMode="in" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="header">
                            <div class="px-3 pt-3 pb-0">
                                <span class="font-bold">Agent Picker</span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-multiSelect [ngModel]="value" [options]="representatives" placeholder="Any" (onChange)="filter($event.value)" optionLabel="name">
                                <ng-template let-option pTemplate="item">
                                    <div class="p-multiselect-representative-option">
                                        <img [alt]="option.label" src="assets/demo/images/avatar/{{option.image}}" width="32" style="vertical-align: middle" />
                                        <span class="ml-2">{{option.name}}</span>
                                    </div>
                                </ng-template>
                            </p-multiSelect>
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>
            <th>
                <div class="flex justify-content-between align-items-center">
                    CED. CLIENTE
                    <p-columnFilter type="date" field="date" display="menu" placeholder="mm/dd/yyyy"></p-columnFilter>
                </div>
            </th>
            <th>
                <div class="flex justify-content-between align-items-center">
                    NOMBRE CLIENTE
                    <p-columnFilter type="numeric" field="balance" display="menu" currency="USD"></p-columnFilter>
                </div>
            </th>
            <th>
                <div class="flex justify-content-between align-items-center">
                    FECHA
                    <p-columnFilter field="status" matchMode="equals" display="menu">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Any" [style]="{'min-width': '12rem'}" >
                                <ng-template let-option pTemplate="item">
                                    <span [class]="'venta-badge status-' + option.value">{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>
            <th>
                <div class="flex justify-content-between align-items-center">
                    PLAZO
                    <p-columnFilter field="activity" matchMode="between" display="menu" [showMatchModes]="false" [showOperator]="false" [showAddButton]="false">
                        <ng-template pTemplate="filter" let-filter="filterCallback">
                            <p-slider [ngModel]="activityValues" [range]="true" (onSlideEnd)="filter($event.values)" styleClass="m-3" [style]="{'min-width': '12rem'}" ></p-slider>
                            <div class="flex align-items-center justify-content-between px-2">
                                <span>{{activityValues[0]}}</span>
                                <span>{{activityValues[1]}}</span>
                            </div>
                        </ng-template>
                    </p-columnFilter>
                </div>
            </th>
            <th style="width: 8rem">
                <div class="flex justify-content-between align-items-center">
                    NUM. FACTURA
                    <p-columnFilter type="boolean" field="verified" display="menu"></p-columnFilter>
                </div>
            </th>
            <th style="width: 8rem">
                <div class="flex justify-content-between align-items-center">
                    TOTAL FACTURA
                    <p-columnFilter type="boolean" field="verified" display="menu"></p-columnFilter>
                </div>
            </th>
            <th style="width: 8rem">
                <div class="flex justify-content-between align-items-center">
                    ESTADO
                    <p-columnFilter type="boolean" field="verified" display="menu"></p-columnFilter>
                </div>
            </th>
            <th style="width: 8rem">
                <div class="flex justify-content-between align-items-center">
                    LONGITUD
                    <p-columnFilter type="boolean" field="verified" display="menu"></p-columnFilter>
                </div>
            </th>
            <th style="width: 8rem">
                <div class="flex justify-content-between align-items-center">
                    LATITUD
                    <p-columnFilter type="boolean" field="verified" display="menu"></p-columnFilter>
                </div>
            </th>
            <th style="width: 8rem">
                <div class="flex justify-content-between align-items-center">
                    DIRECCION CLIENTE
                    <p-columnFilter type="boolean" field="verified" display="menu"></p-columnFilter>
                </div>
            </th>
            <th style="width: 8rem">
                <div class="flex justify-content-between align-items-center">
                    DIRECCION PEDIDO
                    <p-columnFilter type="boolean" field="verified" display="menu"></p-columnFilter>
                </div>
            </th>
            <th style="width: 8rem">
                <div class="flex justify-content-between align-items-center">
                    DCTA INVENTARIO
                    <p-columnFilter type="boolean" field="verified" display="menu"></p-columnFilter>
                </div>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-venta>
        <tr>
            <td style="min-width: 12rem;">
                {{venta.pddtipo}}
            </td>
            <td style="min-width: 12rem;">

                <span class="image-text ml-2">{{venta.pddnumero}}</span>
            </td>
            <td style="min-width: 14rem;">

                <span class="image-text ml-2">{{venta.pedvende.trim()}}</span>
            </td>
            <td style="min-width: 10rem;">
                {{venta.pedvincula.trim()}}
            </td>
            <td style="min-width: 10rem;">
                {{venta.vinnombre }}
            </td>
            <td style="min-width: 12rem;">
                <span [class]="'venta-badge status-' + venta.status">{{venta.pedfecha | date: 'dd/MM/yyyy'}}</span>
            </td>
            <td style="min-width: 12rem; ">
                {{venta.pedplazo}}
            </td>
            <td style="min-width: 12rem;">
                {{venta.pddnumero}}
            </td>
            <td class="text-center" style="min-width: 8rem;">
                {{venta.total}}
            </td>
            <td style="min-width: 12rem;">
                {{venta.pedactivo}}
            </td>
            <td style="min-width: 12rem;">
                {{venta.pedlong}}
            </td>
            <td style="min-width: 12rem;">
                {{venta.pedlati}}
            </td>
            <td style="min-width: 12rem;">
                {{venta.vindirecci}}
            </td>
            <td style="min-width: 12rem;">
                {{venta.vindirecci}}
            </td>
            <td style="min-width: 12rem;">
                NO
            </td>

        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="15">No hay registro de ventas para las fechas seleccionadas.</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="loadingbody">
        <tr>
            <td colspan="15">Loading ventas data. Please wait.</td>
        </tr>
    </ng-template>
</p-table>
<div class="col-4">
    <div class="row-12">
    VALOR TOTAL DOCUMENTOS:
        <div class="card card-w-title">
            $ 0.00
        </div>
    </div>
</div>

</div>
