<div class="grid">
    <div class="col-12">
        <div class="card">

            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                </ng-template>

            </p-toolbar>
            <h5>Filter Menu</h5>
            <p-table #dt1 [value]="usuarios" dataKey="usucodigo" [rows]="10" [loading]="loading"
                     selectionMode="single" [(selection)]="selectUsuario" [rowHover]="true"
                     styleClass="p-datatable-gridlines" [paginator]="true"
                     [globalFilterFields]="['usunombre','usucodigo','usutipo']" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                                (click)="clear(dt1)"></button>
                        <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter
                                   (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Buscar.."
                                   class="w-full"/>
						</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Codigo
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Contraseña
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Nombre

                            </div>
                        </th>

                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Tipo
                            </div>
                        </th>

                        <th style="width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Activo
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-usuario>
                    <tr [pSelectableRow]="usuario">
                        <td style="min-width: 12rem;">
                            {{usuario.usucodigo}}
                        </td>
                        <td style="min-width: 12rem;">
                            <span class="image-text ml-2">{{usuario.usucontra}}</span>
                        </td>
                        <td style="min-width: 14rem;">
                            <span class="image-text ml-2">{{usuario.usunombre}}</span>
                        </td>

                        <td style="min-width: 10rem;">
                            <span class="image-text ml-2">{{usuario.usutipo}}</span>
                        </td>

                        <td class="text-center" style="min-width: 8rem;">
                            <i class="pi"
                               [ngClass]="{'true-icon pi-check-circle text-green-500': usuario.usuactivo == 1, 'false-icon pi-times-circle text-pink-500 ': usuario.usuactivo != 1}"></i>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No a sido posible cargar la table.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="7">Cargando Datos, Espere un momento.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>

    <p-dialog [(visible)]="usuarioDialog" [style]="{width: '800px',height:'1400px'}" header="Crear/Edita Usuario"
              [modal]="true" styleClass="p-fluid">

        <form [formGroup]="Form" (ngSubmit)="enviar()">

            <div class="card">
                <div class="formgrid grid">
                    <div class="field col-12 " >
                        <div class="p-inputgroup mb-3">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-user"></i>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="codigo" pInputText formControlName="usucodigo">
                                <label for="codigo">Codigo</label>
                            </span>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6 ">
                        <div class="p-inputgroup mb-3">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-id-card"></i>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="nombre" pInputText formControlName="usunombre">
                                <label for="nombre">Nombre</label>
                            </span>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6 ">
                        <div class="p-inputgroup mb-3">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-shield"></i>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="contraseña" pInputText formControlName="usucontra">
                                <label for="contraseña">Contraseña</label>
                            </span>
                        </div>
                    </div>



                    <div class="field col-12 md:col-6 ">
                        <div class="p-inputgroup mb-3">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-id-card"></i>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="codVendedor" pInputText formControlName="usuvende">
                                <label for="codVendedor">Codigo Vendedor</label>
                            </span>
                        </div>
                    </div>

                    <div class="field col-12 md:col-6 ">
                        <div class="p-inputgroup mb-3">
                            <span class="p-inputgroup-addon">
                                <i class="pi pi-chart-pie"></i>
                            </span>
                            <span class="p-float-label">
                                <input type="text" id="volumen" pInputText formControlName="usuvolumen">
                                <label for="volumen">Volumen</label>
                            </span>
                        </div>
                    </div>


                    <div class="col-12 md:col-6 mb-3">
                        <h5>Tipos De Usuario: </h5>
                        <p-dropdown [options]="tipoVendedores" formControlName="usutipo"
                                    placeholder="Tipo de Usuario"
                                    optionLabel="name"
                                    optionValue="code" [showClear]="true"></p-dropdown>
                    </div>


                    <div class="col-12 md:col-6 mb-3">
                        <h5>Tipo De Documento: </h5>
                        <p-dropdown [options]="TipoDocumentos" formControlName="usudocumen"
                                    placeholder="Tipo de Documento"
                                    [showClear]="true"></p-dropdown>
                    </div>

                    <div class="col-12 mb-3">
                        <h5>Opciones: </h5>
                        <div class="grid p-fluid">
                            <div class="col-6 md:col-6">
                                <div class="field-radiobutton">
                                    <p-checkbox name="imprimir" value="1" formControlName="usuimprime"
                                                inputId="imprimir"></p-checkbox>
                                    <label for="imprimir">imprimir</label>
                                </div>
                            </div>
                            <div class="col-6 md:col-6">
                                <div class="field-radiobutton">
                                    <p-checkbox name="activo" value="1" formControlName="usuactivo"
                                                inputId="activo"></p-checkbox>
                                    <label for="activo">Activo</label>
                                </div>
                            </div>
                        </div>


                        <div class="grid p-fluid">
                            <div class="col-6 md:col-6">
                                <div class="field-radiobutton">
                                    <p-checkbox name="bloquear" value="1" formControlName="usubloqcat"
                                                inputId="bloquear"></p-checkbox>
                                    <label for="bloquear">Bloquear Cartera</label>

                                </div>
                            </div>
                            <div class="col-6 md:col-6">
                                <div class="field-radiobutton">
                                    <p-checkbox name="cartera" value="1" formControlName="usucaraut"
                                                inputId="cartera"></p-checkbox>
                                    <label for="cartera">Registro Automatica De Cartera</label>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 mb-3">
                        <h5>Seleciona Los Catalogos: </h5>
                        <p-multiSelect [options]="catalogos" formControlName="usucatvent"
                                       defaultLabel="Seleccione Catalogos"
                                       optionLabel="catnombre"
                                       optionValue="catcodigo"
                                       selectedItemsLabel="{0} items selected"></p-multiSelect>
                    </div>


                    <div class="col-12 md:col-2 mt-3">
                        <button pButton pRipple label="Save" type="submit" icon="pi pi-check" class="p-button-outlined p-button-secondary"></button>
                    </div>

                    <div class="col-12 md:col-2 mt-3 ">
                        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-outlined p-button-secondary"></button>
                    </div>


                </div>

            </div>
        </form>
    </p-dialog>

</div>
