<div class="grid">
    <div class="col-12">
        <div class="card">

            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"
                            (click)="openNew()"></button>
                </ng-template>

            </p-toolbar>
            <h5>Filter Menu</h5>
            <p-table #dt1 [value]="usuarios" dataKey="usucodigo" [rows]="10" [loading]="loading"
                     selectionMode="single" [(selection)]="selectUsuario" [rowHover]="true"
                     styleClass="p-datatable-gridlines" [paginator]="true"
                     [globalFilterFields]="['usunombre','usucodigo','usutipo']" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex justify-content-between flex-column sm:flex-row">
                        <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash"
                                (click)="clear(dt1)"></button>
                        <span class="p-input-icon-left mb-2">
							<i class="pi pi-search"></i>
							<input pInputText type="text" #filter
                                   (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Buscar.."
                                   class="w-full"/>
						</span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Codigo
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Contraseña
                            </div>
                        </th>
                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Nombre

                            </div>
                        </th>

                        <th>
                            <div class="flex justify-content-between align-items-center">
                                Tipo
                            </div>
                        </th>

                        <th style="width: 8rem">
                            <div class="flex justify-content-between align-items-center">
                                Activo
                            </div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-usuario>
                    <tr [pSelectableRow]="usuario">
                        <td style="min-width: 12rem;">
                            {{usuario.usucodigo}}
                        </td>
                        <td style="min-width: 12rem;">
                            <span class="image-text ml-2">{{usuario.usucontra}}</span>
                        </td>
                        <td style="min-width: 14rem;">
                            <span class="image-text ml-2">{{usuario.usunombre}}</span>
                        </td>

                        <td style="min-width: 10rem;">
                            <span class="image-text ml-2">{{usuario.usutipo}}</span>
                        </td>

                        <td class="text-center" style="min-width: 8rem;">
                            <i class="pi"
                               [ngClass]="{'true-icon pi-check-circle text-green-500': usuario.usuactivo == 1, 'false-icon pi-times-circle text-pink-500 ': usuario.usuactivo != 1}"></i>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="7">No a sido posible cargar la table.</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="loadingbody">
                    <tr>
                        <td colspan="7">Cargando Datos, Espere un momento.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </div>

    <p-dialog [(visible)]="usuarioDialog" [style]="{width: '800px',height:'1500px'}" header="Crear/Edita Usuario"
              [modal]="true" styleClass="p-fluid">
        <ng-template pTemplate="content">

            <div class="grid p-fluid">
                <div class="col-12 md:col-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                        <input type="text" pInputText placeholder="Usuario">
                    </div>
                </div>

                <div class="col-12 md:col-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-shield"></i></span>
                        <input type="password" pInputText placeholder="Contraseña">

                    </div>
                </div>
            </div>

            <div class="grid p-fluid">
                <div class="col-12 md:col-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-id-card"></i></span>
                        <input type="text" pInputText placeholder="Nombre">
                    </div>
                </div>


                <div class="col-12 md:col-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-wallet"></i></span>
                        <input type="text" pInputText placeholder="Codigo Vendedor">

                    </div>
                </div>
            </div>

            <div class="grid p-fluid">
                <div class="col-12 md:col-6">

                    <span class="p-inputgroup-addon"><i class="pi pi-shopping-bag"></i></span>
                    <p-dropdown [options]="tipoVendedores" [(ngModel)]="tipoVendedor" placeholder="Tipo de Usuario"
                                optionLabel="name" [showClear]="true"></p-dropdown>
                </div>
                <div class="col-12 md:col-6">

                    <span class="p-inputgroup-addon"><i class="pi pi-shopping-bag"></i></span>
                    <p-dropdown [options]="tipoVendedores" [(ngModel)]="tipoVendedor" placeholder="Tipo de Usuario"
                                optionLabel="name" [showClear]="true"></p-dropdown>
                </div>
            </div>
            <div class="grid p-fluid">
                <div class="col-12 md:col-6">
                    <div class="p-inputgroup">
                        <div class="field-radiobutton">
                            <p-radioButton name="imprimir" value="Imprimir"  inputId="imprimir"></p-radioButton>
                            <label for="imprimir">Imprimir</label>
                        </div>
                        <div class="field-radiobutton">
                            <p-radioButton name="activo" value="Activo"  inputId="activo"></p-radioButton>
                            <label for="activo">Activo</label>
                        </div>
                        <div class="field-radiobutton">
                            <p-radioButton name="bloquear" value="bloquear"  inputId="bloquear"></p-radioButton>
                            <label for="bloquear">Bloquar</label>
                        </div>
                        <div class="field-radiobutton">
                            <p-radioButton name="cartera" value="cartera"  inputId="cartera"></p-radioButton>
                            <label for="cartera">Registro Automatica De Cartera</label>
                        </div>
                    </div>
                </div>

                <div class="col-12 md:col-6">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon"><i class="pi pi-chart-pie"></i></span>
                        <input type="text" pInputText placeholder="Volumen">

                    </div>
                </div>
            </div>

        </ng-template>

        <ng-template pTemplate="footer">
            <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"></button>
            <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"></button>
        </ng-template>
    </p-dialog>

</div>
